body{
    background-color:transparent;
    overflow-x: hidden;
}
.category.active{
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}
#searchTerm{
    padding: 15px;
    padding-left: 35px;
    font-size: 1.5em;
}
.altazon-image{
    width:25px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.margin-top-bottom{
    margin-top: 450px;
    margin-bottom: 30px;
}
.search-container{
    width: 450px;
    position: relative;
    margin:auto;
}
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    margin-bottom: 0px;
}

.switch input {display:none;}
.map-container{
    text-align:center;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background: #CCC;
}

.slim {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.2em;
    font-size: 16px;
}
label {
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: bold!important;
}
.margin-right{
    margin-right: 1em;
}
.extra-inner-padding{
    padding: 3em;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background: #FFF;
    box-sizing: border-box;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.square{
    height: 16px;
}
.square:before{
    height: 10px;
}
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Menu styles*/
.search-outer{
    background: rgba(0,0,0,0.8);
    border-radius: 50px;
    height: 85px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 70px;
}

.fisheye-menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(/assets/images/menu-back.png);
    border-radius: 50px;
    padding-top: 25px;
    height: 100px;
}

.fisheye-menu.go-down li {
    width: 50px;
    transition: 0.1s;
}

.fisheye-menu li {
    display: inline-block;
    margin: auto;
    /*default size*/
    width: 50px;
    vertical-align: top;
}

.fisheye-menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.fisheye-menu li a img {
    display: block;
    width: 100%;
}

.description-basket{
    padding: 1.5em;
    font-size: 1.2em;
    background: #fff;
    padding-left: 2.5em;
    border-top: 1px solid #afafaf;
    border-left: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    border-radius-top-left: 8px;
    border-radius-bottom-left: 8px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.total-label{
    text-align: right;
    font-size: 2em;
}
.right{
    float: right;
    margin-left: 10px;
}
.outer-container{
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 2em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#main-container{
    margin-left: 1em;
    margin-right: 1em;
}
.price-basket{
    padding: 0.5em;
    font-size: 1.2em;
    text-align:right;
    padding-right: 2.5em;
    border-radius-top-right: 8px;
    border-radius-bottom-right: 8px;
    margin-bottom: 10px;
}
.price-container{
    text-align:right;
}
#basket-menu-container{
    margin:0.5em;
    text-align: center;
}
.menu-image{
    margin-right: 5px;
}
.menu-image:last-child{
    margin-right: 0px;
}